* {
    margin: 0;
  }
  
  .landing3_backgrond {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .landing3_backgrond button {
    width: 300px;
    height: 50px;
    border-radius: 20px;
    font-size: 100%;
  }
  .landing3_backgrond button:hover {
    background-color: #2bd55d;
    cursor: pointer;
  }
  