.myfriend_list_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #000;
    height: 80px;
    margin: 10px 10px;
    border-radius: 10px;
    list-style: none;
}

.myfriend_img{
    border: 1px solid #000000;
    width: 15%;
    height: 70%;
    border-radius: 50%;
}

.myfriend_info{
    border: 1px solid #000000;
    width: 50%;
    height: auto;
    border-radius: 10px;
    padding: 10px;
}

.myfriend_info li{
    padding: 3.5px 3.5px;
}