.navbar_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5156bf;
    padding: 8px 20px;
  }
  
  .icon {
    font-size: 40px;
    color: #000000;
  }
  
  .navbar_title {
    color: white;
    font-size: 35px;
    text-decoration: none;
    margin-left: 10px;
    font-family: "Playfair Display", serif;
    font-family: "Rammetto One", cursive;
  }
  
  @media screen and (max-width: auto) {
    .navbar_container {
      flex-direction: column;
    }
  }
  